*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 10px;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

.background{
    transform: translateZ(-40px) scale(5.1);
}
.foreground{
    transform: translateZ(-20px) scale(3);
}
h1{
    position: absolute;
    font-size: 10rem;
    color: white;
    text-shadow: 0 0 10px rgb(0, 0,0, 0.3);
    top: 5rem;
    letter-spacing: 4px;
}

section{
    background-color: rgb(45,45,45);
    color: white;
    padding: 5rem 0;
}

.secHeading{
    font-size: 5rem;
    padding: 0 10rem;
}
.text{
    font-size: 1.3rem;
    padding: 1rem 10rem;
    margin: 1rem 0;
    text-align:justify;
    font-family:'Times New Roman', Times, serif;
}
.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 40%;
    transform: translateX(-10%);
    color: black;
    font-size: 3rem;
    font-weight: 600;
    border-radius: 10px;
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.bg1{
    background-image: url(image/sport-1.jpg);
}
.bg2{
    background-image: url(image/sport-2.jpg);
}
.bg3{
    background-image: url(image/sport-3.jpg);
}